#video-compare-container {
  display: inline-block;
  line-height: 0;
  position: relative;
  width: 100%;
  padding-top: 42.3%;
}
#video-compare-container > video {
  width: 50%;
  position: absolute;
  top: 0; height: 100%;
    
}
#video-clipper {
  width: 100%; position: absolute;
  top: 0; bottom: 0;
  overflow: hidden;
 
}
#video-clipper video {
  width: 200%;
  postion: absolute;
  height: 100%;
}
section.usecasesec {
    margin-bottom: 0rem;
    margin-left: 7rem;
}
section#section5 {
    margin-top: 0rem;
}
.consumer-con p {
    line-height: 1.4;
    font-size: 20px;
    letter-spacing: -0.16px;
    font-family: 'Lato';
    font-weight: 300;
    padding-bottom: 5px;
}