section.career {
     background-color: #414141;
     height: 60vh;
     margin-bottom: 12rem;
}
 .title {
     color: #ffff;
     margin-top: 6rem;
     margin-bottom: 47px;
}
 .title h2 {
     font-size: 44px;
     margin-left: 11px;
}
 .dotGrid.career {
    background-size: 22px 22px;
    background-image: radial-gradient(#90B2CB 1.7px, transparent 0);
    width: 60%;
    height: 23rem;
    position: absolute;
    opacity: 13%;
    top: 1px;
    margin-left: -9.5rem;
}
 .bg-car {
     background-color: #f4faff;
     position: absolute;
     padding-left: 34px;
     padding-right: 30px;
	 padding-top: 1.5rem;
	 padding-bottom: 0.5rem;
}
 .bg-car p {
      line-height: 1.7;
    font-size: 13px;
}
 p.car-con {
     margin-top: -1rem;
}
 img.discuss-IMG {
     width: 132%;
     margin-left: -39px;
     height: 25rem 
}
 img.mask-IMG {
}
section.career-1 {
    margin-bottom: 2rem;
    margin-top: 2rem;
}
section.diversitySection {
    margin-top: 1rem;
    margin-bottom: 1rem;
}
 p.in-txt {
         padding-top: 28px;
    font-size: 13px;
    color: #535050;
    font-weight: 500;
    padding-bottom: 10px;
 }
 p.out-txt {
     font-size: 11px;
    color: #244E89;
    font-weight: 500;
    line-height: 1.5;
}
 p.out-txt1 {
     font-size: 13px;
     color: #174bde;
}
 img.tech-IMG {
  
}
 element.style {
}
 .center p {
      color: white;
	 padding-top: 0.5rem;
     padding-bottom: 0.5rem;
}
img.div-IMG {
       width: 120%;
    margin-left: -1rem;
    margin-top: -16px;
}
img.corner-IMG {
    width: 79px;
    margin-top: -52px;
    float: right;
    margin-right: -7rem;
}
p.div-txt {
        text-align: center;
    padding-top: 40px;
    font-size: 15px;
    color: #A2A3A3;
    margin-left: 11rem;
}
 section.swipe {
  background-color: #F4FAFF;
    /* height: 35rem; */
    /* margin-bottom: 51px; */
    padding-top: 3rem;
    padding-bottom: 3rem;
}
section.swipe ul {
    list-style: none;
}
 .loc h2 {
    text-align: center;
    font-size: 38px;
    margin-bottom: 26px;
    font-weight: 500;
}
 .loc p {
     text-align: center;
    font-size: 11px;
    color: #244E89;
    font-weight: 500;
}

 .location {
   font-size: 30px;
    margin-bottom: 4rem;
    margin-top: 4rem;
}
.dotGrid.vac {
    background-size: 20px 20px;
    background-image: radial-gradient(#15aae2 2px, transparent 0);
    width: 18%;
    height: 26rem;
    position: absolute;
    opacity: 50%;
    margin-left: -18rem;
    margin-top: 5rem;
}
img.man-IMG {
 width: 190px;
    height: 185px;
}
.img-1 {
      border: 1.4px solid #9CCEDD;
    padding: 2rem 2rem 0rem 2rem;
    height: 16rem;
}
.word {
  padding-left: 4rem;
    font-size: 22px;
    padding-right: 3rem;
}
.word p {
    font-weight: 400;
    color: #17416D;
}
.word p.detail {
    padding-top: 7px;
}
p.career-name {
    padding-top: 2rem;
    font-size: 10px;
    font-weight: 600;
    color: #1A8BFF;
}
img.uparrow {
    transform: rotate(270deg);
    transform-origin: left top;
    width: 40px;
    padding-bottom: 13rem;
    margin-top: -0.5rem;
}
img.downarrow {
       transform: rotate(90deg);
    transform-origin: left bottom;
    width: 40px;
    /* padding-bottom: 0px; */
    margin-top: -15px;
}
.carrier-dtl p {
    line-height: 0;
}
.carrier-dtl {
    padding-top: 8px;
    /* color: #17416D; */
	    font-size: 9px;
}
p.carrier-designation {
    font-weight: 600;
}
.tag-1:hover {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}
.li-tag {
    margin-right: -11rem;
    margin-left: -77px;
}
.li-tag ul {
    display: flex;
    list-style-type: none;
	    margin-top: 23px;
}
li.tag-1 {
    font-size: 15px;
    margin-right: 20px;
    padding-left: 21px;
    padding-top: 16px;
	 box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
     transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}
button.button {
     width: 42px;
    margin-left: 15rem;
    height: 42px;
	    border: none;
		background-color:#ffff;
}

button.bt-apply {
    background-color: #17416D;
    color: #ffff;
    font-weight: 600;
    font-size: 11px;
    margin-right: 55px;
    width: 100px;
    height: 32px;
}
p.head-1 {
        font-size: 9px;
    text-align: left;
    color: #111113;
    font-weight: 500;
}
p.head-2 {
        font-size: 18px;
    text-align: left;
    color: #141415;
    margin-top: -20px;
}
p.head-3 {
      font-size: 11px;
    color: #101010;
    font-weight: 600;
    margin-top: -20px;
    text-align: left;
}
img.tag-IMG {
    display: inline-flex;
    width: 147%;
    margin-left: -8px;
}
.page {
   background-color: white;
    margin-left: 7rem;
    margin-right: 3rem;
    /* padding-top: 2rem; */
    /* padding-bottom: 2rem; */
    padding: 3rem 1.7rem 2rem 4rem;
    height: 22rem;
    display: flex;
    /* box-shadow: 0 2px 2px rgba(0,0,0,0.16), 0 2px 2px rgba(0,0,0,0.11); */
    -webkit-box-shadow: 0 10px 6px -6px #777;
    -moz-box-shadow: 0 10px 6px -6px #777;
    /* box-shadow: 5px 10px 18px #EDEDED; */
    -webkit-box-shadow: 0px 2px 16px 2px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 2px 16px 2px rgba(0,0,0,0.75);
    box-shadow: 0px 2px 16px 2px #EAECF4;
    position: relative;
    z-index: 10;
}
.backdiv {
   width: 80%;
    background: #ffff;
    height: 2.5rem;
    /* top: -16px; */
    margin-left: 9.2rem;
}
section.career-2 {
    margin-top: 4rem;
	margin-bottom: 3rem;
}
 @media (min-width: 991px) {
     .hed-1 p {
           text-align: center;
    color: #244E89;
    padding-left: 10rem;
    padding-right: 10rem;
    font-weight: 600;
    font-size: 10px;
    margin-left: 9px;
    line-height: 1.3;
    }
     .hed-1 h2 {
              margin-left: 23rem;
    font-size: 42px;
    padding-bottom: 14px;
    font-weight: 500;
    }
     .center {
               background-color: #17416d;
    font-size: 24px;
    text-align: center;
    width: 25%;
    margin-left: 30rem;
    }
	.col-sm-4.col-lg-4.container1 {
    /* padding-right: 23px; */
       margin-left: 21px;
    margin-top: 1.7rem;
    }
	.row.career-workculture {
    margin-left: 11rem;
    margin-right: 11rem;
	    margin-top: 2rem;
    }
}
 @media (max-width: 991px) {
     .hed-1 p {
         text-align: center;
         color: #174bde;
         padding-left: 1rem;
         padding-right: 5rem;
         font-size: 13px;
        /* margin-left: 9px;
         */
         line-height: 1.3;
    }
     .hed-1 h2 {
        /* margin-left: 23rem;
         */
         font-size: 48px;
         padding-bottom: 14px;
    }
     .center {
              background-color: #17416d;
    font-size: 24px;
    text-align: center;
    width: 25%;
    margin-left: 30rem;
    }
 }
 .testimonial-bigbox img {
    width: 70px;
    height: 70px;
}
.testimonial-bigbox {
       position: absolute;
    left: 3rem;
    top: 2rem;
}
.testimonial-smallbox {
    position: absolute;
    top: 17.8rem;
    margin-left: 12rem;
}
.testimonial-smallbox img {
    width: 35px;
    height: 35px;
}