.kami-nav-bar {
	width: 100%;
	height: 50px;
	background-color: #292f33;
}

.kami-menu-bar {
	display: flex;
	direction: row;
	width: 90%;
	margin: 0 auto;
	height: 60px;
	align-items: center;
	/*	outline: 3px solid red;*/
}

/*kami vision logo*/

#kami-logo {
	flex-basis: 35%;
}
#kami-logo a {
	color: white;
	text-decoration: none;
	font-size: 1.3em;
}

#kami-logo .kami {
	font-family: "gothic-regular";
	font-weight: 100;
	border-right: 1px solid #fff;
	padding-right: 0.4em;
	margin-right: 0.4em;
	margin-left: 3.5em;
}

#kami-logo span:nth-of-type(2) {
	font-family: "gothic-regular";
	font-weight: 100;
	color: #9FD4FC;
	margin-right: 2em;
}


.logo-io {
	font-weight: 900;
}






.top-menu-list {
	display: flex;
	flex-direction: row;
	list-style: none;
	align-items: center;
	height: 60px;
	width: 60%;
	background-color: rgba(221, 238, 250, 0.1);

}

.top-level-menu-item {
	flex-basis: 20%;
	text-align: center;
	height: 60px;
	border-left: .1px solid #000;
	border-right: .1px solid #000;
	line-height: 60px;
/*
	padding-left: 3em;
	padding-right: 3em;
*/
}

.top-level-menu-item a {
	display: inline-block;
	width: 100%;
	color: #ccc;
	font-size: 0.9em;
	font-family: "gothic-regular";
	text-decoration: none;
	text-align: center;
	font-weight: 100;
}


.top-level-menu-item a:hover {
	background-color: #ddeefa;
	color: #17416d;
}

.search-icon {
	display: inline-block;
	height: 60px;
	line-height: 60px;
	width: 5%;
	font-size: 1.5em;
	text-align: center;
	font-weight: lighter;
	padding-left: 0.5em;
	font-family: "gothic-regular";
	color: #79E5FF;

}
