
		.bg-setction-1 {
    height: 15rem;
    width: 100%;
    background-color: #F4FAFF;
 
	 
}
		
 .bg-setction-2 {
    height: 20rem;
    width: 100%;
     
}
			.bg-setction-3{
     height: 28rem;
    position: initial;
		}
		.bg-setction-4{
     height: 21rem;
    width: 100%;
   
		}
		.bg-setction-5{
    height: 9rem;
    width: 100%;
   
}
			.bg-setction-6{
   height: 89rem;
    width: 100%;
   
}
		 .bg-setction-8 {
     height: 27rem;
    width: 100%;
    background-color: #EEEEEE;
    margin-top: -39rem;
		
}
		.imagesider {
    margin-top: -40rem;
}
		.dotGrid {
    background-size: 41px 49px;
    background-image: radial-gradient(#D6E7F4 3.8px, transparent 0);
    width: 51%;
    height: 78%;
    position: absolute;
    opacity: 90%;
    top: -9rem;
    margin-left: 615px;
    margin-top: 134px;
}
		.section2dot { 
    background-size: 20px 18px;
    background-image: radial-gradient(#D7EAFE 1.8px, transparent 0);
    width: 52%;
    height: 24em;
    position: absolute;
    opacity: 68%;
    margin-left: -9rem;
    margin-top: 1rem;
}
	.section2-image{
	height: 365px;
    width: 557px;
    margin-left: 42px;
    position: absolute;
    margin-top: -126px;
		 
	}
	.mb-3{
       text-align: center;
    font-size: 43px;
    color: #000000;
    padding: 1em;
    padding-left: 29px;
    padding-top: 3rem;
    letter-spacing: -3px;
    font-weight: 400;
	}
		.section2-content2{
    font-size: 25px;
    font-weight: 500;
     
	}
		.section2-content1{
   
     padding-top: 68px;
    margin-left: 625px;
     
	}
.section4-hcontent{
    font-size: 15px;
   letter-spacing: -1px;
}
.section4-pcontent{
    line-height: 1.3;
    font-family: Arial;
    font-size: 12px;
    color: #244E89;
}
		.secgrid3-1 {
     height: 55px;
    width: 79px;
    padding-left: 12px;
    padding-right: 12px;
}
.section3-ul{
    list-style-type: none;
    display: inline-flex;
    width: 52em;
    height: 0px;
    margin-left: -167px;
    margin-top: 103px;
}
 .divider{
  border-top: 2px solid #A8D9FC;
}

.section3-ul-2{
      list-style-type: none;
    display: inline-flex;
    width: 52em;
    height: 0px;
    margin-left: -170px;
    margin-top: 124px
	  
}
.section-4-benHead {
    margin-top: 200px;
    margin-left: 54px;
}
		.section3-li{
		 
      display: inline-flex;
    margin-right: 3px;
		}
			/*.section3-li2{
		 
    width: 16em;
    margin-left: 6em;
    margin-top: -5em;
		}
			.section3-li3{
	 
    width: 16em;
    margin-left: 6em;
    margin-top: -5em;
		}*/
     .hardwareli{
     list-style-type: none;
    display: inline-block;
    font-size: 12px;
  
    text-align: center;
    height: 12em;
	padding-top: 1em;
    padding-left: 1em;
    padding-right: 1em;
     
	}
		 .edgeli{
    list-style-type: none;
    display: inline-block;
    font-size: 12px;
     
    text-align: center;
    height: 12em;
   padding-top: 2em;
    padding-left: 1em;
    padding-right: 1em;
     
	}
		 .friendly{
    list-style-type: none;
    display: inline-block;
    font-size: 12px;
    
    text-align: center;
    height: 12em;
   padding-top: 1em;
    padding-left: 1em;
    padding-right: 1em;
     
	}
			 .plugandplay{
    list-style-type: none;
    display: inline-block;
    font-size: 12px;
    
    text-align: center;
    height: 12em;
   padding-top: 1em;
    padding-left: 1em;
    padding-right: 1em;
     
	}
			 .sandc{
    list-style-type: none;
    display: inline-block;
    font-size: 12px;
    
    text-align: center;
    height: 12em;
    padding-top: 2em;
    padding-left: 1em;
    padding-right: 1em;
     
	}
.algncent{
   
    margin-left: -3em;
    margin-top: 1em;
     
	}
		.bencls{
			text-align: left;
         padding-left: 9em;
       font-size: 22px;
		}
		 .hardwareli-img {
    height: 6em;
          }
		 .edgeli-img {
    height: 6em;
          }
		 .friendly-img {
    height: 6em;
          }
		.plugandplay-img {
    height: 6em;
          }
		 .sandc-img {
    height: 6em;
          }
		.sec4split1 {
     background-color: #FFFFFF;
    height: 14em;
    margin-left: 4em;
    border-width: thin;
  box-shadow: -1px 1px 8px 0px rgba(240,245,244,1);
 
     
   
}
     
		.sect-4-r {
    margin-left: 6em;
    width: 55em;
}
.section4-ul{
      list-style-type: none;
      display: inline-flex;
      margin-left: 125px;
	  
}

.sec4split1 {
     
    margin-top: 2em;
    background-color: #FFFFFF;
    height: 14em;
    width: 245px;
    margin-left: 1em;
    border-width: thin;
	padding-top: 16px;
    box-shadow: 8px -3px -20px 0px rgba(228, 233, 238, 1)
}


	.section4-img-1{
	       padding-right: 0em;
    padding-top: 2em;
    padding-bottom: 0px;
    padding-left: 4rem;
    height: 65px;
    width: 13rem;

		}

		.section4-arrow-1{
		    height: 2em;
    padding-left: 98px;		
		}
		.sec-5-r {
    height: 3rem;
    width: 23rem;
    background-color: #90B2CB;
    margin-top: 3em;
}
		.section6-img-1{
	    height: 12rem;
    width: 18rem;
    transform: rotate(90deg);
    margin-left: -9em;
    margin-top: 3em
		}
		.section6-img-2{
        height: 15rem;
    width: 7rem;
    margin-left: 68em;
    margin-top: 18em;
		}
		.section-6-border{
	text-align: center;
    height: 39em;
    width: 64em;
    margin-left: 6em;
    margin-top: -4em;
    border-style: solid;
    border-color: #DBE6EE;
			
		}
		.inconborder {
   margin-top: 4em;
   margin-left: 4em;
    text-align: -webkit-left;
}
		.phead {
    
	font-size: 14px;
    font-family: Lato;
}
		.cal4-img1 {
     object-fit: none;
     object-position: 6% 14%;
     height: 13em;
     float: right;
     margin-right: -9em;
}
		.cal4-img2 {
    position: absolute;
    width: 15em;
    height: 9em;
    margin-top: 10%;
}
		.inconborder1 {
    margin-top: 1em;
    text-align: -webkit-left;
    margin-left: 8em;
}
			.cal4-img3 {
      object-fit: none;
    width: 133px;
    float: left;
    margin-left: 0em;
    height: 13rem;
     
     
   
}
			.cal4-img4 {
    position: absolute;
    width: 15em;
    height: 10em;
    margin-top: 8%;
    margin-left: 29px;
}
		 .buttonsub{
  color:#162738;
  
  }
.section-8-heading {
    text-align: center;
    padding-top: 70px;
    width: 100%;
}
  .section-8-form{
    text-align: center;
    padding-top: 4%;
    padding-left: 26%;
  }	
		input {
  text-align: center;
}

::-webkit-input-placeholder {
  text-align: center;
 font-size: 10px;
}

:-moz-placeholder {
  text-align: center;
  font-size: 10px;
}
  input[type=text], select {
   
  width: 90%;
   
   
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
		input {
  text-align: center;
}

::-webkit-input-placeholder {
  text-align: center;
 font-size: 10px;
}

:-moz-placeholder {
  text-align: center;
  font-size: 10px;
}
input[type=text], select {
    width: 100%;
    display: inline-block;
    border: 1px;
    border-radius: 2px;
    box-sizing: border-box;
    height: 31px;
}
textarea {
      overflow: auto;
    resize: vertical;
    height: 5em;
    width: 473px;
	    margin-left: 15px;
    border-color: #FFFFFF;
}

.buttonsub {
    
   background-color: #162738;
    border: none;
    color: white;
    padding: 4px 11px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
	    margin-left: 14px;
    
}
  .pcontent {
    line-height: 1.3;
    font-family: Arial;
    font-size: 10px;
    color: #244E89;  
    padding-right: 28px;
}
 @media (min-width: 991px) {
	 .row.inconborder > [class*="col"] {
padding-left: 0px;
}
	 .row.inconborder1 > [class*="col"] {
padding-left: 0px;

}
 }
  @media (max-width: 991px) {
  }
 

 