section.solution.target {
	margin-bottom: 3rem;
}
.section2{
    margin-top: 5rem;
}
.sol-head {
    background-color: #90b2cb;
    width: 18%;
    height: 2.7rem;
    text-align: right;
    padding-right: 2rem;
    padding-top: 9px;
    margin-top: 5rem;
    color: white;
}
.sol-head h2 {
   font-size: 24px;
    opacity: 90%;
    color: #ffff;
}

img.scrip-IMG {
       width: 18%;
    margin-top: 7rem;
    position: absolute;
    height: 15.6rem;
}

.con-head {
    padding-top: 2rem;
    letter-spacing: -3.2px;
}

.con-head h2 {
      font-size: 44px;
    font-weight: 500;
    
}
img.con-IMG {
    padding-top: 2rem;
    width: 75%;
    height: 400px;
	    padding-left: 2rem;
}

.consumer-con {
       padding-top: 20px;
}
.consumer-con p {
   line-height: 1.4;
    font-size: 16px;
    letter-spacing: -0.16px;
    font-family: 'Lato';
    font-weight: 300;
    padding-bottom: 5px;
}

img.lines-IMG { 
      width: 33%;
    float: right;
    height: 350px;
	    margin-top: -2rem;
}

.illustrative.icon {
       color: #17416D;
}

.illustrative.icon h2 {
    font-size: 27px;
    font-weight: 500;
}

.box-icon {
    padding-top: 24px;
    margin-left: 74px;
}

ul.icon {
	display: flex;
	list-style-type: none;
}

.icon li {
    border-style: solid;
    margin-left: 12px;
    width: 13%;
    height: 9rem;
    border-width: thin;
    border-color: #dad9d9;
}

.icon li p {
	text-align: center;
	padding-top: 22px;
	padding-left: 11px;
	padding-right: 11px;
	font-size: 12px;
	color: #496a8d;
	    letter-spacing: -0.16px;
}
img.face-IMG {
    width: 36%;
    padding-top: 30px;
    margin-left: 38px;
}

img.human-IMG {
    width: 27%;
    padding-top: 24px;
    margin-left: 41px;
}

img.pet-IMG {
	width: 40%;
	padding-top: 37px;
	margin-left: 38px;
}

img.water-IMG {
	width: 43%;
	padding-top: 37px;
	margin-left: 34px;
}

img.fire-IMG {
	width: 40%;
	padding-top: 33px;
	margin-left: 36px;
}

img.baby-IMG {
	width: 35%;
	padding-top: 26px;
	margin-left: 36px;
}

.plat-head {
    padding-left: 30rem;
    padding-bottom: 28px;
    margin-top: -1rem;
}

.plat-head h2 {
	    font-size: 26px;
    font-weight: 500;
    color: #17416D;
}

.platform {
	display: inline-flex;
}

.list-out {
	font-size: 13px;
}

.platform .w1 {
    width: 25%;
}
img.kami.designs-IMG {
    position: relative;
    margin-left: 2rem;
}
img.AI-IMG {
    margin-left: -2rem;
}


::marker {
    color: #a3a4d4;
    font-size: 15px;
}

h1.tit1-sol {
       margin-top: -33px;
    font-size: 16px;
    padding-left: 6rem;
    position: absolute;
    /* font-family: 'Lato'; */
    letter-spacing: -1.01px;
    color: #244E89;
    font-weight: 300;
}
h1.tit2-sol {
    margin-top: -33px;
    font-size: 15px;
    margin-left: 4rem;
    color: white;
	    opacity: 0.8;
}
h1.tit3-sol {
       margin-left: 1rem;
    margin-top: -33px;
    font-size: 16px;
    /* padding-left: 6rem; */
    position: absolute;
    /* font-family: 'Lato'; */
    letter-spacing: -1.01px;
    color: #244E89;
    font-weight: 300;
}
h1.tit4-sol {
      margin-left: 1rem;
    margin-top: -33px;
    font-size: 15px;
    color: white;
    opacity: 0.8;
}
ul.cases1 {
    padding-top: 13px;
    padding-left: 6rem;
	    letter-spacing: -0.5px;
}
ul.cases2 {
    padding-top: 21px;
    padding-left: 4rem;
	    letter-spacing: -0.5px;
}
ul.cases3 {
    padding-top: 12px;
    padding-left: 2rem;
	    letter-spacing: -0.5px;
}
ul.cases4 {
    padding-top: 21px;
    padding-left: 2rem;
	    letter-spacing: -0.5px;
}
.case-head {
    padding-left: 25rem;
    padding-top: 33px;
    padding-bottom: 15px;
  
}
.case-head h2 {
    font-size: 24px;
    letter-spacing: -1.01px;
    font-weight: 500;
}

ul.case-con {
    list-style: none;
    margin-left: 5rem;
}
img.dog-IMG {
     width: 95%; 
    height: 23rem;
}


ul.case-con li {
    width: 29%;
    position: relative;
    display: inline-block;
    margin-left: -18px;
}
.case-con li:hover .overlay {
    display:block;
    background-color:#dcedf8;
    opacity:0.75;
}
.case-con li:hover .in-con {
    display:none;
}
section.usecasesec {
    margin-bottom: 5rem;
    margin-left: 7rem;
}
.hed-sol {
         text-align: center;
    background-color: #131212;
    opacity: 80%;
    color: white;
    position: absolute;
    /* width: 28%; */
    width: 95%;
    font-size: 25px;
    height: 5.5rem;
    padding-top: 31px;
    top: 9rem;
    /* margin-left: 97px; */
    padding-left: 1rem;
    padding-right: 1rem;
}
h1.hed-sol.frstcontent {
    padding-top: 19px;
}
.overlay {
    width: 95%;
    height: 23rem;
    display: none;
    position: absolute;
    top: 0rem;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 5rem;
    color: #496a8d;
    font-size: 15px;
    text-align: center;
}
.overlay h2 {
    font-size: 22px;
    font-weight: 500;
    padding-bottom: 1rem;
    color: black;
}
p.par-1 {
    line-height: 1.2;
    font-size: 15px;
    font-weight: 400;
    color: black;
}
img.arrowleft-img {
    width: 45px;
    margin-left: 58px;
    margin-top: 10.3rem;
    position: absolute;
    transform: rotate(180deg);
}
img.arrowright-img {
       width: 45px;
    margin-left: 58.7rem;
    margin-top: -15.3rem;
    position: absolute;
}
.dot {
    height: 8px;
    width: 8px;
    background-color: #ffff;
    border-radius: 50%;
    border: 1px solid #93B4CC;
    display: inline-block;
    margin-right: 4px;
}
.camera-head h2 {
    text-align: center;
    padding-top: 4rem;
    font-size: 30px;
    font-weight: 500;
    margin-left: -6rem;
}
.camera-head p {
    text-align: center;
    padding-top: 1rem;
    font-size: 16px;
    padding-left: 9rem;
    padding-right: 10rem;
   
}
img.homesec-img {
    margin-left: -68px;
    width: 107%;
    height: 15rem;
    margin-top: 246px;
}
.row.con-bordersec {
    border-style: solid;
    border-color: #b2dcf5;
    border-width: thin;
    height: 40rem;
    width: 100%;
}
button.click {

    margin-top: -1px;
    position: absolute;
    color: #ffff;
    background-color: #3891ed;
    border-style: hidden;
    font-size: 8px;
    /* padding-top: 3px; */
    height: 17px;
    width: 45px;
    font-weight: 500;
}
.partnerdiv {
    margin-left: 8rem;
    margin-right: 7rem;
}
.partner-highlighttxt {
    background: #90B2CB;
    padding-left: 9px;
    width: 30%;
    text-align: center;
    /* padding-top: 0.7rem; */
    /* padding-bottom: 0.7rem; */
    padding-bottom: -0.3rem;
    margin-left: 5rem;
    color: #ffff;
    font-size: 25px;
    /* margin-top: 2px; */
    /* line-height: 0.5; */
}
.partner-highlighttxt p {
    /* line-height: 1; */
    padding-bottom: 0.7rem;
    padding-top: 0.7rem;
}
.partner-img {
    margin-top: -1rem;
    margin-bottom: 1rem;
}
.partnersec-txt {
    width: 80%;
    padding-left: 5rem;
    padding-top: 10rem;
}
.partnersec-txt p {
       font-size: 11px;
    color: #6b94bf;
    font-weight: 500;
    line-height: 1.5;
}
img.partnersec-scrip-img {
    width: 9%;
    margin-left: 56rem;
    margin-top: -58px;
    height: 5rem;
}
section#section5 {
	    margin-top: 1rem;
	   
}
ul.camera-libary {
    list-style-type: none;
    display: flex;
}
.camera {
    /* width: 50%; */
    margin-top: -26rem;
}
.demos-camera {
    background-color: aliceblue;
    height: 22rem;
    width: 78%;
    margin-left: 30px;
	
}
.demos-camera h1 {
    text-align: center;
    font-size: 17px;
    font-weight: 600;
    padding-top: 2rem;
    padding-bottom: 1rem;
}
.demos-camera p {
       text-align: center;
    padding-right: 2rem;
    padding-left: 2rem;
    font-size: 12px;
    font-family: 'Arial';
    letter-spacing: -0.16px;
    color: #244E89;
	    line-height: 1.4;
}
.demos-camera {
    background-color: aliceblue;
    height: 24rem;
    margin-left: 44px;
    margin-top: 2rem;
    width: 75%;

}
.babycamera h1 {
    text-align: center;
    font-size: 17px;
    font-weight: 600;
    padding-top: 2rem;
    padding-bottom: 1rem;
}
.babycamera p {
        line-height: 1.4;
    /* color: #496a8d; */
    text-align: center;
    padding-right: 2rem;
    padding-left: 2rem;
    font-size: 12px;
    font-family: 'Arial';
    letter-spacing: -0.16px;
    color: #244E89;
}
.babycamera {
    background-color: #abd6fb;
    height: 27rem;
    width: 82%;
    margin-left: -46px;
    margin-top: -1rem;
}
.doorbell h1 {
    text-align: center;
    font-size: 18px;
    font-weight: 600;
    padding-top: 2rem;
    padding-bottom: 1rem;
}
.doorbell p {
        line-height: 1.4;
    /* color: #496a8d; */
    text-align: center;
    padding-right: 2rem;
    padding-left: 2rem;
    font-size: 12px;
    font-family: 'Arial';
    letter-spacing: -0.16px;
    color: #244E89;
}
.doorbell {
    background-color: aliceblue;
    height: 24rem;
    width: 82%;
    margin-left: -104px;
    margin-top: 2rem;
}
.demos-img {
    background-color: #f6fffe;
}
.blue-bg {
    background-color: #17416d;
    padding-top: 3.7rem;
    margin-left: -42px;
    margin-top: -58px;
    width: 81%;
}
img.demoscamera1-img {
     width: 57%;
    margin-left: 64px;
    background-color: #fafeff;
    margin-top: 22px;
    padding-bottom: 7px;
    padding-top: 5px;
}
img.demoscamera2-img {
    /* width: 62%; */
    width: 87%;
    margin-left: 1rem;
}
img.demoscamera3-img {
    width: 57%;
    margin-left: 64px;
    background-color: #fafeff;
    margin-top: 22px;
    padding-bottom: 9px;
}
img.homesec-img {
    margin-left: -68.9px;
    width: 15%;
    height: 10rem;
    margin-top: 326px;
}
img.homesec1-img {
    width: 19%;
    margin-left: 52.7rem;
    margin-top: -10rem;
    height: 10rem;
}
button.click-1 {
    margin-top: 20px;
    /* position: absolute; */
    color: #ffff;
    background-color: #3891ed;
    border-style: hidden;
    font-size: 14px;
    /* padding-top: 3px; */
    height: 28px;
    width: 72px;
    font-weight: 500;
}
.bg-setction-8 {
    height: 30rem;
    width: 100%;
    background-color: #EEEEEE;
}
.titlemaskright {
    width: 100%;
    position: absolute;
    /* height: 300px; */
    /* float: right; */
    top: 0;
}
@media (min-width: 768px) {
  
}
@media (max-width: 768px) {
	.sol-head {
		width: 175px;
	}
	.consumersecrow .con-head {
    width: 100%;
}
.consumersecrow .con-head h2 {
    font-size: 36px;
    text-align: center;
    width: 100%;
    display: block;
}
.sol-body .section2 .illustrative h2 {
    width: 80%;
    text-align: center;
    margin: 0 auto;
    font-size: 34px;
}
.sol-body .section2 .box-icon ul {
    padding: 0;
    display: unset;
}
.sol-body .section2 .box-icon ul li {
    width: 45% !important;
    display: inline-block;
    height: auto;
    padding: 50px 0;
    margin-bottom: 20px;
}
.sol-body .section2 .box-icon ul li img {
    width: 50px;
    margin: 0 auto 20px !important;
    height: 50px;
}
.sol-body .section2 .box-icon ul li img, .sol-body .section2 .box-icon ul li p {
    padding: 0;
    margin: 0;
    text-align: center;
}
.sol-body .section2 .box-icon ul li img, .sol-body .section2 .box-icon ul li p {
    padding: 0;
    margin: 0;
    text-align: center;
}
.sol-body .section2 .box-icon {
    margin: 0;
}
.plat-head {
    padding-left: 0;
    padding-bottom: 28px;
    margin-top: 15px;
    width: 100%;
    text-align: center;
}
.platform {
    display: unset;
}
.platform .w1 {
    width: 100%;
    display: block;
}
ul.cases1{
	padding-left: 30px;
}
}
@media (min-width: 992px) {
	.consumersecrow > [class*="col"] {
    padding-left: 10px;
}
}
@media (max-width: 991px) {
}