section.solution.target {
	margin-bottom: 10rem;
}

.sol-head {
	background-color: #90b2cb;
	width: 19%;
	height: 3rem;
	text-align: right;
	padding-right: 2rem;
	padding-top: 7px;
	margin-top: 5rem;
	color: white;
}

img.scrip-IMG {
	width: 19%;
	margin-top: 6rem;
	position: absolute;
}

.con-head {
	padding-left: 7rem;
	padding-top: 25px;
}

.con-head h2 {
	font-size: 43px;
	font-weight: 500;
}

img.con-IMG {
	margin-left: 33rem;
	width: 80%;
	margin-top: -70px;
	position: relative;
}

.consumer-con {
	padding-left: 7rem;
	font-size: 14px;
	margin-top: -19rem;
}

.consumer-con p {
	line-height: 1.5;
}

img.lines-IMG {
	margin-left: 45rem;
	width: 95%;
	margin-top: -29rem;
	height: 23rem;
}

.illustrative.icon {
	padding-left: 24rem;
	padding-top: 20px;
	color: #496a8d;
}

.illustrative.icon h2 {
	font-size: 26px;
}

.box-icon {
	padding-top: 24px;
	margin-left: 59px
}

ul.icon {
	display: flex;
	list-style-type: none;
}

.icon li {
	border-style: groove;
	margin-left: 12px;
	width: 14%;
	height: 10rem;
}

.icon li p {
	text-align: center;
	padding-top: 22px;
	padding-left: 11px;
	padding-right: 11px;
	font-size: 12px;
	color: #496a8d;
}

img.face-IMG {
	width: 35%;
	padding-top: 30px;
	margin-left: 40px;
}

img.human-IMG {
	width: 27%;
	padding-top: 24px;
	margin-left: 43px;
}

img.pet-IMG {
	width: 42%;
	padding-top: 37px;
	margin-left: 38px;
}

img.water-IMG {
	width: 43%;
	padding-top: 37px;
	margin-left: 34px;
}

img.fire-IMG {
	width: 40%;
	padding-top: 33px;
	margin-left: 36px;
}

img.baby-IMG {
	width: 35%;
	padding-top: 26px;
	margin-left: 36px;
}

.plat-head {
	
    padding-left: 30rem;
    padding-bottom: 30px;

}

.plat-head h2 {
	font-size: 26px;
}

.platform {
	display: inline-flex;
}

.list-out {
	font-size: 13px;
}

.platform .w1 {
    width: 25%;
}
img.kami.designs-IMG {
    position: relative;
    margin-left: 2rem;
}
img.AI-IMG {
    margin-left: -2rem;
}




h1.tit1-sol {
    margin-top: -31px;
    font-size: 15px;
    padding-left: 6rem;
    position: absolute;
}
h1.tit2-sol {
    margin-top: -33px;
    font-size: 15px;
    margin-left: 4rem;
    color: white;
}
h1.tit3-sol {
    margin-top: -33px;
    font-size: 15px;
    margin-left: 1rem;
    position: absolute;
}
h1.tit4-sol {
    margin-top: -32px;
    font-size: 15px;
    color: white;
    margin-left: 1rem;
}
ul.cases1 {
    padding-top: 13px;
    padding-left: 6rem;
}
ul.cases2 {
    padding-top: 21px;
    padding-left: 4rem;
}
ul.cases3 {
    padding-top: 12px;
    padding-left: 4rem;
}
ul.cases4 {
    padding-top: 21px;
    padding-left: 4rem;
}
.case-head {
    padding-left: 29rem;
    padding-top: 33px;
    padding-bottom: 15px;
}

ul.case-con {
    list-style: none;
    margin-left: 7rem;
}
img.dog-IMG {
     width: 102%; 
    height: 21rem;
}

ul.case-con { list-style: none; }
ul.case-con li {
    width: 27%;
    position: relative;
    display: inline-block;
    /* padding-left: 17px; */
}
.case-con li:hover .overlay {
    display:block;
    background-color:#dcedf8;
    opacity:0.75;
}
.case-con li:hover .in-con {
    display:none;
}
section.usecasesec {
    margin-bottom: 5rem;
}
.hed-sol {
    text-align: center;
    background-color: #131212;
    opacity: 80%;
    color: white;
    position: absolute;
    /* width: 28%; */
    width: 102%;
    font-size: 22px;
    height: 4rem;
    padding-top: 10px;
    top: 9rem;
    /* margin-left: 97px; */
    padding-left: 2rem;
    padding-right: 2rem;
}
.overlay {
    width: 100%;
    height: 21rem;
    display: none;
    position: absolute;
    top: 0rem;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 5rem;
    color: #496a8d;
    font-size: 15px;
    text-align: center;
}
.overlay h2 {
    font-size: 20px;
    font-weight: 500;
	    padding-bottom: 1rem;
}
p.par-1 {
    line-height: 1.3;
    font-size: 13px;
    font-weight: 400;
}
.section3 li {
    padding: 1rem;
    width: 45%;
    display: inline-block;
}
tr {
  vertical-align: top;
}
.post {
    width: 500px;
  display: inline-flex;
}

.sec3-imgwrap {
     position: relative;
    width: 100px;
    height: 100px;
}
.sec3-imgwrap img {
  position: absolute;
    left: -47px;
	bottom: -70px;
}
#page-wrap td {
    padding-left: 5px;
    padding-right: 5px;
}
.sec3-bannercontent {
    width: 70%;
	margin-top: 19px;
    margin-right: 50px;
    margin-left: -6px;
}
.sec3-imgwrap3{
	width: 50%;
    float: right;
}
div#page-wrap {
    overflow-x: auto;
	overflow-y: hidden;
}
.section3 td:nth-child(even) .post{
    background: #2B4057;
	padding-top:30px;
    padding-bottom: 30px;
}
.section3 td:nth-child(even) .sec3-title{
	font-size: 22px;
	line-height: 0;
	 color: #FFFFFF;
	font-weight:500;	
}
.section3 td:nth-child(even) .sec3-prof{
	font-size: 10px;
    color: #99CDF4;
    font-weight: 500;	
}
.section3 td:nth-child(even) .sec3-cmts{
	font-size:9px;
	color: #E2E5E8;
	font-weight:500;	
}
.section3 td:nth-child(odd) .post{
    background: #FFFFFF;
	padding-top: 30px;
    padding-bottom: 30px;
}
.section3 td:nth-child(odd) .sec3-title{
	font-size: 22px;
	line-height: 0;
	 color: #17416D;
	font-weight:500;	
}
.section3 td:nth-child(odd) .sec3-prof{
	font-size: 10px;
    color: #17416D;
    font-weight: 400;	
}
.section3 td:nth-child(odd) .sec3-cmts{
	font-size:9px;
	color: #17416D;
	font-weight:500;	
}
.sec3-cmts p {
    line-height: 1.5;
}
.sec3-comma {
    margin-top: 2px;
}
.sec3-comma img {
    width: 80%;
    padding-left: 12px;
}
section.section3 {
    background: #F4FAFF;
    padding-top: 4rem;
    padding-bottom: 1rem;
}

section.sidemenu-mainrow {
    width: 10%;
    font-size: 7px;
    font-weight: 500;
    top: 40%;
    position: fixed;
    background: transparent;
    margin-left: -23px;
}
.sidemenu-mainrow li {
     background: #ffff;
    opacity: 0.6;
    margin-bottom: 5px;
    padding-top: 4px;
    height: 18px;
    width: 80px;
    padding-left: 5px;
	    display: -webkit-inline-box;
}
.sidemenu-active {
    opacity: 1 !important;
    background: #ffff;
    font-weight: 900;
}
.dot {
    height: 8px;
    width: 8px;
    background-color: #ffff;
    border-radius: 50%;
    border: 1px solid #93B4CC;
    display: inline-block;
    margin-right: 4px;
}
.sidemenu-div ul {
    list-style: none;
}
.sidemenu-div li p {
    padding-top: 2px;
}
li.sidemenu-active p {
    font-weight: 700;
}
li.sidemenu-active span {
   background-color: #91D5FF;
}

.camera-head h2 {
    text-align: center;
    padding-top: 4rem;
    font-size: 25px;
}
.camera-head p {
    text-align: center;
    padding-top: 1rem;
    font-size: 15px;
    padding-left: 9rem;
    padding-right: 10rem;
}
img.homesec-img {
    margin-left: -70px;
    width: 108%;
    height: 11rem;
    margin-top: 20rem;
}
.row.con-bordersec {
    border-style: solid;
    border-color: #cad1d4;
    border-width: thin;
       height: 40rem;
    width: 105%;
}
button.click {

    margin-top: 16px;
    position: absolute;
    color: #ffff;
    background-color: #3891ed;
    border-style: hidden;
    font-size: 8px;
    /* padding-top: 3px; */
    height: 17px;
    width: 45px;
    font-weight: 500;
}
.partnerdiv {
    margin-left: 8rem;
    margin-right: 7rem;
}
.partner-highlighttxt {
    background: #90B2CB;
    padding-left: 9px;
    width: 30%;
    text-align: center;
    /* padding-top: 0.7rem; */
    /* padding-bottom: 0.7rem; */
    padding-bottom: -0.3rem;
    margin-left: 5rem;
    color: #ffff;
    font-size: 25px;
    /* margin-top: 2px; */
    /* line-height: 0.5; */
}
.partner-highlighttxt p {
    /* line-height: 1; */
    padding-bottom: 0.7rem;
    padding-top: 0.7rem;
}
.partner-img {
    margin-top: -1rem;
}
.partnersec-txt {
    width: 80%;
    padding-left: 5rem;
    padding-top: 1rem;
}
.partnersec-txt p {
    font-size: 10px;
    color: #5F7C9B;
    font-weight: 500;
    line-height: 1.5;
}
img.partnersec-scrip-img {
    width: 9%;
    margin-left: 56rem;
    margin-top: -80px;
    height: 5rem;
}
section#section5 {
    padding-bottom: 8rem;
	    padding-top: 4rem;
}
ul.camera-libary {
    list-style-type: none;
    display: flex;
}
.camera {
    /* width: 50%; */
    margin-top: -26rem;
}
.demos-camera {
    background-color: aliceblue;
    height: 22rem;
    width: 78%;
    margin-left: 30px;
}
.demos-camera h1 {
    text-align: center;
    font-size: 17px;
    font-weight: 600;
    padding-top: 2rem;
    padding-bottom: 1rem;
}
.demos-camera p {
    text-align: center;
    padding-right: 2rem;
    padding-left: 2rem;
    font-size: 10px;
    line-height: 1.4;
	color: #496a8d;
}
.demos-camera {
    background-color: aliceblue;
    height: 22rem;
    width: 78%;
    margin-left: 30px;
    margin-top: 4rem;
}
.babycamera h1 {
    text-align: center;
    font-size: 17px;
    font-weight: 600;
    padding-top: 2rem;
    padding-bottom: 1rem;
}
.babycamera p {
    text-align: center;
    padding-right: 2rem;
    padding-left: 2rem;
    font-size: 10px;
	    line-height: 1.4;
		color: #496a8d;
}
.babycamera {
    background-color: #abd6fb;
    height: 26rem;
    width: 84%;
    margin-left: -51px;
}
.doorbell h1 {
    text-align: center;
    font-size: 17px;
    font-weight: 600;
    padding-top: 2rem;
    padding-bottom: 1rem;
}
.doorbell p {
    text-align: center;
    padding-right: 2rem;
    padding-left: 2rem;
    font-size: 10px;
	    line-height: 1.4;
		color: #496a8d;
}
.doorbell {
    background-color: aliceblue;
    height: 22rem;
    width: 84%;
    margin-left: -106px;
    margin-top: 4rem;
}
.demos-img {
    background-color: #f6fffe;
}
img.demoscamera1-img {
    width: 48%;
    margin-left: 54px;
}
img.demoscamera2-img {
    /* width: 62%; */
    width: 77%;
    margin-left: 2rem;
   
   }
img.demoscamera3-img {
    width: 48%;
    margin-left: 54px;
}
button.click-1 {
    margin-top: 16px;
    /* position: absolute; */
    color: #ffff;
    background-color: #3891ed;
    border-style: hidden;
    font-size: 15px;
    /* padding-top: 3px; */
    height: 28px;
    width: 72px;
    font-weight: 500;
    margin-left: 33rem;
}
section.camerasec {
    margin-bottom: 12rem;
}