#tech-peace-of-mind {
	width: 73%;
	margin: 175px auto;
	outline: 1px solid #ddeefa;
	padding: 5.5em 10em 2em 10em;
	display: flex;
	flex-direction: row;
	position: relative;

}

/* text content for tech peace of mind*/
#tech-peace-of-mind h2 {
	font-family: "nolan-regular-36"
}

.tech-peace-content {
	flex-basis: 50%;
	margin-right: 4em;
}

.tech-peace-image {
	flex-basis: 50%;
	margin-left: 4em;
	margin-top: 0.5em;
}

/*image to the right of the content*/
.tech-peace-image img {
	width: 100%;
	height: 475px;
}


/*the text content for kami shield*/

#kami {
	color: #17416d;
	padding: 1em;
	background-color: #DEF1FF;
	margin-top: 30px;
}

#kami h3 {
	font-family: 'Lato', sans-serif;
	font-size: 1.2em;
	margin-bottom: 12px;
	position: relative;

}

#kami h3 span {
	position: absolute;
	right: 2%;
	font-size: 1.2em;
	font-family: 'Lato', sans-serif;

}

#kami p {
	font-family: "Lato", sans-serif;
	color: #17416d;
	font-weight: 900;
	width: 80%;

}


/*the accordion panels below*/
.saas {
	padding-left: 1em;
	padding-top: 1em;
	padding-bottom: 1em;
	background-color: #343434;
	font-family: "Lato", sans-serif;
	color: #fff;
	margin-top: 10px;
	font-weight: 100;
}

.saas h3 {
	position: relative;
}

.saas h3 span {
	position: absolute;
	right: 5%;
	font-size: 1.2em;
	font-family: "Lato", sans-serif;
}


/*navigational arrows*/
.box-left-arrow {
	width: 60px;
	height: 60px;
	background-color: #CBCBCB;
	margin-left: 2em;
	padding: 12.5px;
	text-align: center;
	font-size: 1.8em;
	font-family: "nolan-regular-36";
	position: absolute;
	top: 83%;
	left: 45%;

}

.box-right-arrow-white {
	width: 60px;
	height: 60px;
	background-color: #fff;
	padding: 13.5px;
	text-align: center;
	font-size: 1.8em;
	font-family: "nolan-regular-36";
	position: absolute;
	top: 83%;
	left: 55%;

}


/*overlay top*/
.overlay-top {
	height: 130px;
	background-image: linear-gradient(45deg, #ffffff 37.50%, #2fb5fc 37.50%, #2fb5fc 50%, #ffffff 50%, #ffffff 87.50%, #2fb5fc 87.50%, #2fb5fc 100%);
	background-size: 8.66px 8.66px;
	width: 13%;
	position: absolute;
	top: -11%;
	left: 45%;


}

/*overlay left*/

.overlay-left {
	height: 400px;
	width: 25%;
	background-image: linear-gradient(45deg, #ffffff 37.50%, #2fb5fc 37.50%, #2fb5fc 50%, #ffffff 50%, #ffffff 87.50%, #2fb5fc 87.50%, #2fb5fc 100%);
	background-size: 8.66px 8.66px;
	position: absolute;
	left: -19%;
	top: 50%;
}
