#arrow-box-one {
			display: flex;
			flex-direction: row;
			align-items: center;
			border: 2px solid #CBCBCB;
			background-color: #535050;
			width: 25%;
			padding: 3% 1% 2% 2%;
			margin-top: 30px;
		}

		#arrow-box-one .circle-i-black {
			width: 46px;
			height: 46px;
			background-color: transparent;
			border-radius: 50%;
			border: 2px solid white;
			padding-top: 12px;
			margin-right: 1.56em;
			text-align: center;
			font-weight: 700;
			color: #fff;
			font-family: "nolan-extra-bold";
		}

		#arrow-box-one .circle-i-white {
			width: 46px;
			height: 46px;
			background-color: white;
			border-radius: 50%;
			padding-top: 14px;
			margin-left: 1.3em;
			text-align: center;
			color: #17416d;
			font-family: "nolan-extra-bold";

		}

		#arrow-box-one .box-left-arrow {
			width: 60px;
			height: 60px;
			background-color: #CBCBCB;
			margin-left: 2em;
			padding: 12.5px;
			text-align: center;
			font-size: 1.8em;
			font-family: "nolan-regular-36"
		}

		#arrow-box-one .box-right-arrow {
			width: 60px;
			height: 60px;
			background-color: #fff;
			padding: 13.5px;
			text-align: center;
			font-size: 1.8em;
			font-family: "nolan-regular-36";

		}

		#arrow-box-two {
			display: flex;
			flex-direction: row;
			align-items: center;
			border: 2px solid #707070;
			background-color: #fff;
			width: 25%;
			padding: 3% 1% 2% 2%;
			margin-top: 30px;
		}

		#arrow-box-two .circle-i-blue-outline {
			width: 46px;
			height: 46px;
			background-color: transparent;
			border-radius: 50%;
			border: 2px solid #17416d;
			color: #17416d;
			padding-top: 12px;
			margin-right: 1.56em;
			text-align: center;
			font-weight: 700;
			font-family: "nolan-extra-bold";
		}

		#arrow-box-two .circle-i-blue-fill {
			width: 46px;
			height: 46px;
			background-color: #17416d;
			border-radius: 50%;
			padding-top: 12px;
			margin-left: 1.3em;
			text-align: center;
			color: #fff;
			font-family: "nolan-extra-bold";

		}

		#arrow-box-two .box-left-arrow {
			width: 60px;
			height: 60px;
			background-color: #343434;
			color: #fff;
			margin-left: 2em;
			padding: 12.5px;
			text-align: center;
			font-size: 1.8em;
			font-family: "nolan-regular-36";
		}

		#arrow-box-two .box-right-arrow {
			width: 60px;
			height: 60px;
			background-color: #17416d;
			color: #fff;
			padding: 13.5px;
			text-align: center;
			font-size: 1.8em;
			font-family: "nolan-regular-36";

		}

		#color-circle {
			display: flex;
			flex-direction: row;
			align-items: center;
			background-color: #fff;
			margin-top: 30px;
			width: 30%;
			justify-content: space-between;
			text-align: center;
		}


		#color-circle p {
			font-family: 'Lato', sans-serif;
			font-size: 1.3em;
			text-align: center;
			margin-top: 30px;
		}


		.color-column {
			display: flex;
			flex-direction: column;
			justify-content: center;
			padding: 25px;
		}

		.gray-circle {
			background-color: #343434;
			width: 88px;
			height: 88px;
			border-radius: 50%;

		}

		.blue-circle {
			background-color: #17416d;
			width: 88px;
			height: 88px;
			border-radius: 50%;

		}

		.lightblue-circle {
			background-color: #DDEEFA;
			width: 88px;
			height: 88px;
			border-radius: 50%;

		}
